{% extends 'base.html' %}

{% block content %}

    <div class="site-blocks-cover inner-page" style="background-image: url({{ welcome.photo.url }});">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 mx-auto align-self-center">
            <div class=" text-center">
              <h1>{{ welcome.title }}</h1>
              <p>{{ welcome.desc }}</p>ˀ
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
            {% for item in history %}
          <div class="col-md-6">
            <div class="block-16">
              <figure>
                <img src="{{ item.photo.url }}" alt="Image placeholder" class="img-fluid rounded">
              </figure>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">


            <div class="site-section-heading pt-3 mb-4">
              <h2 class="text-black">{{ item.title }}</h2>
            </div>
            <p>{{ item.desc }}</p>

          </div>
            {% endfor %}
        </div>
      </div>
    </div>


    <div class="site-section site-section-sm site-blocks-1 border-0" data-aos="fade">
      <div class="container">
        <div class="row">
            {% for item in ouroffer %}
          <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4" data-aos="fade-up" data-aos-delay="">
            <div class="icon mr-4 align-self-start">
              <span class="icon-truck text-primary"></span>
            </div>
            <div class="text">

              <h2>{{ item.title }}</h2>
              <p>{{ item.desc }}</p>

            </div>
          </div>
            {% endfor %}
        </div>
      </div>
    </div>


    <div class="site-section bg-light custom-border-bottom" data-aos="fade">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>The Team</h2>
          </div>
        </div>

        <div class="row">
            {% for item in ourteam %}
          <div class="col-md-6 col-lg-6 mb-5">
            <div class="block-38 text-center">
              <div class="block-38-img">
                <div class="block-38-header">
                  <img src="{{ item.image.url }}" alt="Image placeholder" class="mb-4">
                  <h3 class="block-38-heading h4">{{ item.name }}</h3>
                  <p class="block-38-subheading">{{ item.position }}</p>
                </div>
                <div class="block-38-body">
                  <p>{{ item.desc }}</p>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>


      </div>
    </div>

{% endblock %}