{% extends 'base.html' %}
    {% block content %}
            <form action="{% url 'search' %}" method="POST">
                {% csrf_token %}
                <div class="row mt-5">
                      <div class="col-12 text-center">
                          <input type="text" name="name" class="col-md-6" placeholder="Search keyword and hit enter...">
                        <button class="btn btn-primary">Search</button>
                      </div>
                    </div>
            </form>

        {% if results %}
            <div class="site-section">
              <div class="container">
                <div class="row">
                    {% for item in results %}
                  <div class="col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="/shop/{{ item.slug }}"> <img src="{{ item.image_small.url }}" alt="Image"></a>
                    <h3 class="text-dark"><a href="/shop/{{ item.slug }}">{{ item.name }}</a></h3>
                    <p class="price"> ${{ item.price }}</p>
                    <p><a href="{% url "cart:cart_add" item.id %}" class="buy-now btn btn-sm height-auto px-4 py-3 btn-primary">Add To Cart</a></p>
                  </div>
                    {% endfor %}
                </div>
              </div>
            </div>
            {% else %}
                <div class="row mt-5">
                    <div class="title-section text-center col-12">
                        <h2 class="text-uppercase">Type in search bar for product</h2>
                    </div>
                </div>
            {% endif %}
    {% endblock %}