{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="section-title text-center">
            <h3>Admin Panel</h3>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-3"><a href="{% url 'list_of_messages' %}">Messages</a>></div>
                <div class="col-md-3"><a href="{% url 'list_of_products' %}">Products</a></div>
                <div class="col-md-3"><a href="{% url 'list_of_categories' %}">Categories</a></div>
                <div class="col-md-3"><a href="{% url 'list_of_orders' %}">Orders</a></div>
            </div>
        </div>
    </div>
{% endblock %}